/* Ipad air screen */

@media only screen and (max-device-width: 1024px) and (max-device-width: 1366px) {

    .conversations {
        position: relative;
        left: 47%;
        margin-top: 8%;
        width: 31%;
        margin-bottom: 10%;
    }

    .list-content {
        position: relative;
        list-style-type: none;
    }

    .bot-content {
        position: relative;
        color: white;
        padding: 15px 15px;
        background-color: rgb(88, 88, 88);
        border-radius: 15px 15px;
        float: inline-start;
    }

    .user-content {
        position: relative;
        color: white;
        padding: 15px 15px;
        background-color: rgb(88, 88, 88);
        border-radius: 15px 15px;
        float: inline-end;
    }
}