/* samsung s8 screen */

@media only screen and (max-device-width: 375px) and (max-device-width: 667px) {

    .conversations {
        position: relative;
        left: 4%;
        margin-top: 20%;
        width: 93%;
        margin-bottom: 25%;
    }

    .list-content {
        position: relative;
        list-style-type: none;
    }

    .bot-content {
        position: relative;
        color: white;
        padding: 15px 15px;
        background-color: rgb(88, 88, 88);
        border-radius: 20px 20px;
        float: inline-start;
        font-size: 400%;
    }

    .user-content {
        position: relative;
        color: white;
        padding: 15px 15px;
        background-color: rgb(88, 88, 88);
        border-radius: 20px 20px;
        float: inline-end;
        font-size: 400%;
        max-width: 90%;
    }
}