/* Ipad Pro screen */

@media only screen and (max-device-width: 1024px) and (max-device-width: 1366px)  {

    html {
        background-color: rgb(74, 74, 74);
    }

    .title-box {
        position: fixed;
        background-color: none;
        padding: 0px 0px;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(59, 59, 59);
        border-radius: 5px 5px;
        z-index: 999;
        font-size: 100%;
        height: 4%;
    }

    @keyframes opacity {
        from {
            opacity: 0%
        }

        to {
            opacity: 100%
        }
    }

    .title {
        position: relative;
        text-align: center;
        color: white;
        bottom: 5px;
        animation: opacity 3s;
        padding: 5px 5px;
        border-radius: 15px 15px;
        ;
        font-size: 110%;
    }

    .title:hover {
        box-shadow: 1px 1px 1px 1px white;
        background-color: rgb(137, 137, 137);
        cursor: pointer;
    }

}