/* PC screen */


.conversations {
    position: relative;
    left: 50%;
    margin-top: 5%;
    width: 19%;
    margin-bottom: 10%;
}

.list-content {
    position: relative;
    list-style-type: none;
}

.bot-content {
    position: relative;
    color: white;
    padding: 15px 15px;
    background-color: rgb(88, 88, 88);
    border-radius: 15px 15px;
    float: inline-start;
}

.user-content {
    position: relative;
    color: white;
    padding: 15px 15px;
    background-color: rgb(88, 88, 88);
    border-radius: 15px 15px;
    float: inline-end;
}