/* PC screen */


.features {
    position: relative;
    display: flex;
    justify-content: space-between;
}

@keyframes in-to-out {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0%)
    }
}

.options-left {
    position: fixed;
    background-color: rgb(65, 65, 65);
    padding-left: 20%;
    padding-bottom: 30%;
    width: 5%;
    padding-top: 5%;
    margin-left: -1%;
    animation: in-to-out 0.5s forwards;
    z-index: 200;
}

.img-character {
    position: relative;
    width: 300%;
    height: 300%;
    right: 300%;
    margin-top: 70%;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(241, 116, 255);
}

.img-character:hover {
    box-shadow: 3px 3px 3px 3px rgb(143, 65, 151);
    cursor: pointer;
}

.descript-character {
    position: relative;
    right: 320%;
    width: 340%;
    margin-top: 50%;
    color: white;
    animation: typing-des 10s steps(40, end);
    font-size: 100%;
}

.descript-character:hover {
    color: rgb(242, 121, 255);
    cursor: pointer;
}

.send-msg {
    position: fixed;
    top: 92%;
    left: 1%;
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: rgb(65, 65, 65);
    padding-bottom: 5%;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 0.5%;
    z-index: 100;
    height: 5%;
}

.text-input {
    padding: 15px 15px;
    width: 100%;
    border-radius: 15px 15px;
    background-color: rgb(80, 80, 80);
    color: white;
}

.send-button {
    position: relative;
    left: 2%;
    border-radius: 15px 15px;
    padding-right: 5%;
    padding-left: 5%;
}